@{
    ViewBag.Title = "Home Page";
}
<script id="bx24_form_inline" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://dheya.bitrix24.in/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"6","lang":"en","sec":"ah6w2j","type":"inline"});
</script>

<script id="bx24_form_button" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://dheya.bitrix24.in/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"6","lang":"en","sec":"ah6w2j","type":"button","click":""});
</script>
<button class="b24-web-form-popup-btn-6">Button name</button>

<script id="bx24_form_delay" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://dheya.bitrix24.in/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"6","lang":"en","sec":"ah6w2j","type":"delay","delay":5});
</script>